* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #fff;
    margin: 15px;
    background-color: #1a1a1a;
    border-radius: 50px;
}
.calc {
  background-color: rgb(24, 48, 48);
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}

#text {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 22px;
  text-align: right;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  width: 60px;
  height: 50px;
  margin: 8px;
  font-size: 18px;
  background: transparent;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #00bcd4;
  color: black;
}

.equal {
  background-color: #00bcd4;
  color: black;
}

.ac {
  background-color: #f44336;
  color: white;
}

.del {
  background-color: #ff9800;
  color: white;
}
